---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: detect-private-key
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-symlinks

  - repo: https://github.com/ansible/ansible-lint.git
    rev: v25.9.2
    hooks:
      - id: ansible-lint
        files: \.(yaml|yml)$
        verbose: false
        args: [--fix]
